body{
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 2000px;
    height: auto;
    border: 1px solid grey;
    margin: 0 auto;
}

#motto {
    text-align: center;
}

#header{
    height: 100px;
    padding: 10px 0;
}

#brand{
    float: left;
}

h1 a{
    font-size: 50px;
    font-weight: 100;
    color: chartreuse;
    text-decoration: none;
}

#searchbox{
    float: right;
    background: linear-gradient(rgb(121, 216, 153), white);
    width: 400px;
    height: 50px;
    padding: 20px 20px 0 20px;
    margin-top: 20px;
}

.text{
    float: left;
    width: 200px;
    padding: 5px;
    font-size: 15px;
    color: brown;
    background: white url('/images/search.png') right center no-repeat;
    border: 1px solid yellow;
}

.submit{
    float: right;
    padding: 5px;
    font-weight: bold;
    color: white;
    background-color: rgb(158, 243, 0);
}

.clear{
    clear: both;
}

#menu{
    height: 70px;
    background: linear-gradient(rgb(211, 211, 81), yellow);
    padding: 7px 0;
}

ul{
    list-style: none;
}

#menu ul li{
    float: left;
    padding: 0 30px;
    height: 30px;
    border-right: 1px solid blue;
}

#menu ul li:last-child{
    border-right: none;
}

#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 17px;
    color: blue;
    line-height: 30px;
    transition: font-size 0.3 ease;
}

#menu ul li a:hover, #menu ul li a.active{
    font-size: 20px;
    font-weight: bold;
    color: blueviolet;
}

#introduction{
    background: linear-gradient(rgb(240, 240, 156), white);
    padding: 30px;
    margin: 16px 0;
}

#introduction h3{
    font-size: 45px;
    color: green;
    font-weight: normal;
}

#introduction p{
    font-size: 25px;
    color: green;
    font-weight: normal;
}

#introduction p{
    font-size: 25px;
    color: greenyellow;
    text-align: justify;
}

.sidebar{
    height: 550px;
    width: 450px;
    border: 1px solid greenyellow;
    border-radius: 20px;
    padding: 10px 30px;
}

.sidebar h3{
    color: blueviolet;
    font-size: 30px;
}

.sidebar ul{
    padding-top: 8px;
}

#leftsidebar ul li{
    padding: 4px 0 4px 10px;
    list-style-image: url(images/arrow.png);
}

#rightsidebar ul li{
    padding: 17px 0 17px 70px;
    background: url(images/tick.png) no-repeat left center;
}

.sidebar ul li a{
    text-decoration: none;
    font-size: 20px;
    color: blueviolet;
    transition: font-size 0.3s ease;
}

.sidebar ul li a:hover, .sidebar ul li a.active{
    text-decoration: none;
    color: blueviolet;
    font-size: 23px;
    font-weight: bold;
}

#leftsidebar{
    float: left;
}

#rightsidebar{
    float: right;
}

.footer{
    height: 60px;
    background: linear-gradient(#F6F390, #D5D533);
    padding: 10px 30px;
    margin-top: 15px;
}